*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
}
body > a{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: purple;
    color: white;
    text-decoration: none;
}
body{ 
    background-color: rgb(15, 15, 96);
    color: whitesmoke;
}

